body {
    background-color: white;
    color: #EEAA00;
    font-family: verdana;
}

h1 {
    text-align: center;
}

p {
    display: block;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}

p:active{
    background-color: #EEEEEE;
}

*::selection {
    background:none;
    color: #EEAA00;
}

canvas{
    //border: 3px dotted blue;
    background-color: #ddffdd;

    animation-name: bg;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;

    background-image: url('bg.png');
    background-size: 207px 200px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

@keyframes bg{
    //0%  {background-color: #00ffd8;}
    0%  {background-color: #00ffff;}
    100%  {background-color: #ffff00;}
    //75%  {background-color: #0043ff;}
    //100%    {background-color: #ffee00;}
    //100%  {background-color: #;}
}